* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-primary: 'Roboto', sans-serif;
  --font-color: #ffffff;
  --bd-image: url(./assets/backgrounds/mountains-universe-1.png);
}

body {
  font-family: var(--font-primary);
  color: var(--font-color);
  font-weight: 400;
  background: var(--bd-image);
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
}

header {
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: #c4c4cc;
}

nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  box-shadow: none;
  align-items: center;

  gap: 5.2rem;
  padding: 5rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  box-shadow: none;
}

nav a:nth-child(1) {
  margin-left: 7.2rem;
}

nav a:nth-child(2) {
  font-weight: 700;
  font-size: 2.4rem;
  color: #ffffff;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin: 20rem;
  gap: 2.4rem;
}

#page p,
#titulo {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 125%;
  color: #e1e1e6;
}

button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  width: 195px;
  height: 48px;
  align-items: center;

  color: #ffffff;
  background-color: transparent;

  border: 2px solid #ffffff;
  border-radius: 5px;
}

button:hover {
  background-color: #ffffff;
  color: #02799d;
}
